@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Gestión de Tareas </h1>
    <p>Bienvenidos a la a nuestra paguina registrate para iniciar gracias !!</p>

    <a asp-controller="Usuario" asp-action="Index" class="btn btn-primary btn-lg mt-4">
        Registrarse
    </a>
</div>
